.header{display: flex;
        width:100%;
        justify-content: space-between;
        box-shadow: rgba(128, 128, 128, .7) 0 1px 3px
        ;}

.logo{height:50px;
      padding:5px;
      margin-bottom: 10px
      ;margin-right: 10px;}

.right{display: flex;
       justify-content: center;
       align-items: center; }
.left{display:flex}
.right div{margin-right: 25px;}

.left div{margin-right: 25px;}

.left{display: flex;
    justify-content: center;
    align-items: center; }

 a{color:black
   ;font-weight: 700;
   ;font-size: 18px;
    text-decoration: none;}
 

.abb{height:20px;margin-right: 0;
     padding-right: 0;}
.bar1{height:20px;display:none}

    

.button1{
    padding:0 10px;
    border: 1px solid black;
    border-radius: 15px;}
    .button2 p{color: white;
              background-color: black;
              padding:0 10px;
    border: 1px solid black;
    border-radius: 15px;}




    .banner1{display: flex;
             justify-content: center;
            align-items: center;
        background-color:#00754a;}
     .allimg{width:100%;
        display: flex;
             justify-content: center;
            align-items: center;
             }
     .banner-text{width:100%;
        text-align: center;color:white;
        font-weight: 600;padding:50px;
       }
      h4{color:white;border:1px solid white
           ;;border-radius: 15px;}
    
        .banners{display: flex;
                 flex-direction: column;
                margin-top: 10px;
                gap:10px}

        .banner2{display: flex;
            justify-content: center;
           align-items: center;
           flex-direction: row-reverse;
           
       background-color:#ffbe9e;}

       .banner-text2{width:100%;
        text-align: center;color:#00000094;
        font-weight: 600;padding:50px;}
    
        a .ordernow{color:#00000094
                  ;border:1px solid #00000094;
                   margin:0 60px;}

         .banner3{display: flex;
                    justify-content: center;
                   align-items: center;
                   background-color: 
                   #ecbb4d;
                   }

          .banner-text3{width:100%;
                    text-align: center;color:#00000094;
                    font-weight: 600;padding:50px;}

                    h1, p{padding: o 50px;}

        .para p{text-align: center;
                padding: 0 300px;}
        
        .foot{display: flex;
            justify-content: space-between;
            padding: 0 30px;
            font-weight: 600;text-align: center;
             }
            .l1{font-weight: 400;
                color: #00000094;}
            .sociallogo{height: 50px;}
            .lists li{list-style: none;
                   padding-bottom: 20px;
                   margin-left: 0;
                padding-left: 0;}


    @media(max-width:800px){

      .logo{height:30px;
       }
       
       .menu, .rewards, .giftcard, .map, .ab, .button1, .button2{display: none;}
       .bar1{display: block;}


      .banners{display: flex
        ;flex-direction: column;}

        .banner1{display: flex
            ;flex-direction: column;}
        
        .banner2{display: flex
                ;flex-direction: column;}
        
        .banner3{display: flex
                    ;flex-direction: column;}

         .para p{font-size: 1rem;
               padding:0 10px}           
        .foot{display:flex;
                     flex-direction: column;
              margin-bottom: 10px;}
         .l1{display: none;}
        


    }

